### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

### Django ###
*.log
*.pot
*.pyc
migrations/
__pycache__/
local_settings.py
env/
venv/

.env
db.sqlite3