{% extends "base.html" %} {% load widget_tweaks %} {% block title %} Change password {% endblock %} {% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <form method="post" class="w-50">
    <h2>Change password</h2>
    {% csrf_token %} {% for field in form %}
    <div class="mb-3">
      <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field|add_class:"form-control" }} {% if field.errors %}
      <div class="text-danger">{{ field.errors }}</div>
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>
{% endblock %}
